@page "{id:int}"
@model webapp01.Pages.Courses.DeleteModel
@{
    ViewData["Title"] = "Удалить курс";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <h3>Вы уверены, что хотите удалить этот курс?</h3>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">@Model.Course.Name</dd>
        <dt class="col-sm-2">Описание</dt>
        <dd class="col-sm-10">@Model.Course.Description</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Course.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-secondary">Назад к списку</a>
    </form>
</div> 